/* App Base
-------------------------------------------------------------------------- */

@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,400i,700,700i");

* {
    box-sizing: border-box;
}

html,
body {
    font-family: "Roboto Condensed", Arial, sans-serif;
    font-weight: 400;
    font-size  : 16px;
    line-height: 20px;

    padding : 0;
    margin  : 0;
    width   : 100%;
    height  : 100%;
    overflow: hidden;

    color     : $color-primary;
    background: $color-primary-base;
}

h1,
h2 {
    font-weight: 700;
}

h3 {
    font-weight: 300;
}

h1 {
    font-size  : 46px;
    line-height: 50px;

    margin: 5px 0;

    + h3 {
        margin-top: -5px;

        + h1 {
            margin-top: -5px;
        }
    }
}

h2 {
    font-size  : 40px;
    line-height: 40px;

    margin: 0;
}

h3 {
    font-size  : 34px;
    line-height: 40px;

    margin: 5px 0;
}

button {
    cursor    : pointer;
    border    : 0;
    outline   : 0;
    background: none;

    border-radius: 10px;

    font-weight: 300;
    font-size  : 16px;

    text-transform: uppercase;

    color: $color-white;

    padding   : 0 20px;
    min-height: 40px;
    min-width : 60px;

    &:hover,
    &:focus,
    &:active {
        border    : 0;
        outline   : 0;
        background: rgba($color-black, 0.15);
    }
}
