doctype HTML
html(lang="pt-BR")

    head
        link(rel="stylesheet" href="./css/app.css")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no")
        title Countdown

    body
        div.flex.flex--stretch

            div#wrapper.flex__item.flex__item--center.text-center.image-blur-container.wrapper

                div.container.fluid
                    != yield

                div#display-background.image-blur(style="background-image: url('https://i.giphy.com/media/14udF3WUwwGMaA/giphy.webp');")

        include ./templates/settings.jade

        script(type="text/javascript" src="./scripts/app.js")
        script(type="text/javascript" src="./scripts/moment-with-locales.min.js" onload="doTheMagic()")
